Hello <%= @user.name %>

<%= render "searches/new" %>

<h1>Movies You've Watched</h1>
<% if @movies %>
	<% @movies.each do |movie| %>
		<%= movie.title %>
		<img src="<%= movie.pic_url %>">
	<% end %>
<% end %>
<%= link_to 'Logout', signout_path(current_user) %>